.banner {
	height: 400px;

	background-size: 100%;
	background-repeat: no-repeat;
}

.banner-title {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
}
@media (max-width: 425px) {
	.banner {
		height: 150px;
	}
}
@media (min-width: 426px) and (max-width: 768px) {
	.banner {
		height: 250;
	}
}
